.date-opener {
  cursor: pointer;
  background-color: rgba(122, 245, 245, 0.4);
  padding: 12px 24px;
  border-radius: 6px;
}

.ant-picker-footer {
  display: none;
}

.ant-picker-dropdown {
  top: 496px !important;
}

.ant-picker-panel-container {
  box-shadow: none !important;
  border-left: 1px solid #dbdce1;
}
